@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Intranet.Departamentos.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ProyectosZec.Intranet.DepartamentosGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>