{
    "RootNamespace": "ProyectosZec",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Server=localhost; Port=3306; Database=Default;user id=root;password=T#Zec@CaB2017",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": [
                {
                    "Tablename": "capital",
                    "Identifier": "Capital",
                    "Module": "Proyectos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "estados",
                    "Identifier": "Estados",
                    "Module": "Proyectos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "islas",
                    "Identifier": "Islas",
                    "Module": "Proyectos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "inversor_prescriptor",
                    "Identifier": "InversorPrescriptor",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "proyectos",
                    "Identifier": "Proyectos",
                    "Module": "Proyectos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "sector",
                    "Identifier": "Sector",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "subsector",
                    "Identifier": "Subsector",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "tecnicos",
                    "Identifier": "Tecnicos",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "prescriptorinversor",
                    "Identifier": "Prescriptorinversor",
                    "Module": "Proyectos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "sectores",
                    "Identifier": "Sectores",
                    "Module": "Proyectos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "subsectores",
                    "Identifier": "Subsectores",
                    "Module": "Proyectos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "sedes",
                    "Identifier": "Sedes",
                    "Module": "Intranet",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Telefonos:General"
                },
                {
                    "Tablename": "telefonos",
                    "Identifier": "Telefonos",
                    "Module": "Intranet",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Telefonos:General"
                },
                {
                    "Tablename": "departamentos",
                    "Identifier": "Departamentos",
                    "Module": "Intranet",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Telefonos:General"
                },
                {
                    "Tablename": "proveedores",
                    "Identifier": "Proveedores",
                    "Module": "Inmovilizado",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Inmovilizado:General"
                },
                {
                    "Tablename": "subtiposinmovilizado",
                    "Identifier": "Subtiposinmovilizado",
                    "Module": "Inmovilizado",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Inmovilizado:General"
                },
                {
                    "Tablename": "tiposinmovilizado",
                    "Identifier": "Tiposinmovilizado",
                    "Module": "Inmovilizado",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Inmovilizado:General"
                },
                {
                    "Tablename": "inmovilizados",
                    "Identifier": "Inmovilizados",
                    "Module": "Inmovilizado",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Inmovilizado:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Server=localhost; Port=3306; Database=Northwind;user id=root;password=T#Zec@CaB2017",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": []
        },
        {
            "Key": "Proyectos",
            "ConnectionString": "Server=localhost; Port=3306; Database=ProyectosZec;user id=root;password=T#Zec@CaB2017",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": [
                {
                    "Tablename": "proyectos",
                    "Identifier": "Proyectos",
                    "Module": "CuadroMandos",
                    "ConnectionKey": "Proyectos",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "prescriptorinversor",
                    "Identifier": "Prescriptorinversor",
                    "Module": "CuadroMandos",
                    "ConnectionKey": "Proyectos",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "capital",
                    "Identifier": "Capital",
                    "Module": "CuadroMandos",
                    "ConnectionKey": "Proyectos",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "estados",
                    "Identifier": "Estados",
                    "Module": "CuadroMandos",
                    "ConnectionKey": "Proyectos",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "islas",
                    "Identifier": "Islas",
                    "Module": "CuadroMandos",
                    "ConnectionKey": "Proyectos",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "sectores",
                    "Identifier": "Sectores",
                    "Module": "CuadroMandos",
                    "ConnectionKey": "Proyectos",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "subsectores",
                    "Identifier": "Subsectores",
                    "Module": "CuadroMandos",
                    "ConnectionKey": "Proyectos",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "tecnicos",
                    "Identifier": "Tecnicos",
                    "Module": "CuadroMandos",
                    "ConnectionKey": "Proyectos",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "versioninfo",
                    "Identifier": "Versioninfo",
                    "Module": "CuadroMandos",
                    "ConnectionKey": "Proyectos",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\ProyectosZec\\ProyectosZec.Web\\ProyectosZec.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}