@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Nuevo_Roezec.Paises.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ProyectosZec.Nuevo_Roezec.PaisesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>