@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Kairos.AusenciasProgramadas.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ProyectosZec.Kairos.AusenciasProgramadasGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>