@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Kairos.Extras.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ProyectosZec.Kairos.ExtrasGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>