@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CuadroMandos.Tecnicos.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ProyectosZec.CuadroMandos.TecnicosGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>